@media screen and (max-width: 768px) {
    .container {
        width: auto;
        height: auto;
    }
    .header_wrap {
        display: flex;
        
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: auto;
        height: auto;
    }
    .header_wrap {
        display: flex;
    }
}