@media screen and (max-width: 1440px) {
    .item{
       width: 100%;
       max-width: none;
    }
}

@media screen and (max-width: 768px) {
    .item{
       width: 100%;
       max-width: none;
    }
}

@media screen and (max-width: 480px) {
    .item{
       width: 100%;
       max-width: none;
    }
}