*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.header-section {
  background: url(../images/header_backgraund1.png);
}

.container {
  max-width: 1440px;
  padding: 145px 10px;
  margin: auto;
}

.header_description .header_logo_cup {
  width: 135px;
  height: 50px;
  padding-bottom: 145px;
}
.header_description .header_description_title {
  font-size: 69px;
  color: white;
  font-weight: 524;
  font-family: josefin sans;
}
.header_description .header_description_subtitle {
  margin-top: 26px;
  font-size: 32px;
  color: white;
  font-weight: 506;
  font-family: "open sans", sans-serif;
}
.header_description .header_description_button a {
  margin-top: 61px;
  font-size: 16px;
  color: white;
  font-weight: 148;
  font-family: "open sans", sans-serif;
  padding: 16px 35px;
  border-radius: 5px;
  background: #FF4B32;
  display: inline-block;
}

.header_menu_logo {
  margin-top: 18px;
  margin-left: 569px;
}
.header_menu_logo .header_line {
  display: inline-flex;
  margin: auto;
}
.header_menu_logo .menu-burger {
  display: none;
  transition: 1s ease-in-out;
  z-index: 100;
}
.header_menu_logo .menu-burger div {
  width: 54px;
  height: 29px;
  background: #FF4B32;
  transition: 1s ease-in-out;
}
.header_menu_logo .menu-burger div:nth-child(2) {
  margin: 10px 0;
}
.header_menu_logo .menu-item {
  display: inline-block;
  margin: 0 29px;
  opacity: 0.6;
  margin-top: 15px;
}
.header_menu_logo .menu-item.active {
  position: relative;
}
.header_menu_logo .menu-item.active a {
  color: white;
}
.header_menu_logo .menu-item.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #FF4B32;
  bottom: -30;
  left: 0;
}
.header_menu_logo .menu-link {
  font-size: 15;
  color: #CDCDCD;
  font-weight: 400;
  font-family: "open sans", sans-serif;
}
.header_menu_logo .menu-list {
  transition: 1s ease-in-out;
}
.header_menu_logo .search_cart {
  display: inline-flex;
}
.header_menu_logo .search_cart .search {
  margin-left: 60px;
  margin-right: 19px;
}
.header_menu_logo .search_cart .cart {
  margin-left: 19px;
}
.header_menu_logo .header_logo_cup_biger {
  max-width: 570px;
}

.about-section {
  background: #E5E5E5;
}

.about-section_header {
  margin-top: 60px;
  display: inline-flex;
}

.about-seaction_header_title .about-seac_header_title_title {
  font-size: 43px;
  color: #292929;
  font-weight: 445;
  font-family: "open sans", sans-serif;
}
.about-seaction_header_title .about-seac_header_title_sub_title {
  margin-top: 20px;
  opacity: 0.7;
  font-size: 18px;
  color: #292929;
  font-weight: 506;
  font-family: "open sans", sans-serif;
}

.block_bt_right {
  margin-left: 520px;
  display: inline-flex;
}

.about-section_coffe_line {
  display: inline-flex;
  margin-top: 60px;
}

.about-section_coffe_beans {
  margin-right: 82px;
}

.about-section_coffe_logo {
  width: 300px;
  height: 265px;
}

.about-section_coffe_price {
  margin-top: 35px;
}

.about-section_coffe_bt {
  margin-top: 30px;
  display: inline-flex;
}

.about-section_coffe_bt1 {
  width: 114px;
  height: 57px;
}

.about-section_coffe_bt2 a {
  margin: auto;
  font-size: 18px;
  color: white;
  font-weight: 700;
  font-family: "open sans", sans-serif;
  padding: 17px 30px;
  border-radius: 5px;
  background: #FF4B32;
  display: inline-block;
  margin-left: 20px;
}/*# sourceMappingURL=style.css.map */