@import 'variables';
@import 'mixins';

*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.header-section{
    background: url(../images/header_backgraund1.png);
    padding-top: 60px;
}

.container {
    max-width: 1440px;
    padding: 1px 145px;
    margin: auto;
}

.header_description {
    .header_logo_cup {
        width: 135px;
        height: 50px;
        padding-bottom: 145px;
        margin-right: 251px;
    }


}

.header_menu_logo {


    .header_line {
        display: flex;
        margin: auto;
    }

    .menu {
        &-burger {
            display: none;
            transition: 1s ease-in-out;
            z-index: 100;

            div {
                width: 54px;
                height: 29px;
                background: $primary-color;
                transition: 1s ease-in-out;

                &:nth-child(2) {
                    margin: 10px 0;
                }
            }
        }

        &-item {
            display: inline-block;
            margin: 0 29px;
            opacity: 0.6;
            margin-top: 15px;

        }

        &-item.active {
            position: relative;

            a {
                color: $white;
            }

            &::before {
                @include pseudo(100%, 3px);
                background: $primary-color;
                bottom: -30;
                left: 0;

            }
        }

        &-link {
            @include font(15, $cd-color, 400, $open-sans)
        }

        &-list {
            transition: 1s ease-in-out;
        }
    }

    .search_cart {
        display: inline-flex;

        .search {
            margin-left: 60px;
            margin-right: 19px;
        }

        .cart {
            margin-left: 19px;
        }
    }
}
.description_header{
    display: flex
}
.header_description_title {
    @include font(69px, $white, 524, josefin sans);
}

.header_description_subtitle {
    margin-top: 26px;
    @include font(32px, $white, 506, $open-sans)
}

.header_description_button {
    a {
        margin-top: 61px;
        @include font(16px, $white, 148, $open-sans);
        padding: 16px 35px;
        border-radius: 5px;
        background: $primary-color;
        display: inline-block;
    }
}

.header_logo_cup_biger {
    max-width: 870px;
    height: 511px;
    display: flex;;
}



// ----------about-section----------



.about-section {
    background: $light-white;
}

.about-section_header {
    margin-top: 60px;
    display: flex;
}

.about-seaction_header_title {
    .about-seac_header_title_title {
        @include font(43px, $dark-color, 445, $open-sans);
    }

    .about-seac_header_title_sub_title {
        margin-top: 20px;
        opacity: 0.7;
        @include font(18px, $dark-color, 506, $open-sans);
    }
}

.block_bt_right {
    margin-left: 520px;
    display: inline-flex;
}

.about-section_coffe_line {
    display: inline-flex;
    margin-top: 60px;
}

.about-section_coffe_beans {
    margin-right: 92px;
}

.about-section_coffe_logo {
    width: 300px;
    height: 265px;
}

.about-section_coffe_price {
    margin-top: 35px;
}

.about-section_coffe_title {
    margin-top: 10px;
    padding-bottom: 15px;
    @include font(32px, $dark-color, 600, $josefin-sans);
}

.about-section_coffe_sub_title {
    margin-top: 15px;
}

.about-section_coffe_bt {
    margin-top: 30px;
    display: inline-flex;
}

.about-section_coffe_bt1 {
    width: 114px;
    height: 57px;
}

.about-section_coffe_bt2 {
    a {
        margin: auto;
        @include font(18px, $white, 700, $open-sans);
        padding: 17px 30px;
        border-radius: 5px;
        background: $primary-color;
        display: inline-block;
        margin-left: 20px;
    }

}


// ----------gallery-section--------

.gallery-section {
    background: $light-white;
    max-width: 1440px;
}

.gallert_line {
    margin-top: 140px;
    text-align: center;
}

.gallert_title {
    @include font(43px, $dark-color, 600, $josefin-sans);
}

.gallert_subtitle {
    margin-top: 20px;
    opacity: 0.7;
    @include font(18px, $dark-color, 400, $open-sans);

}
.gallery_logo_line{
    margin-top: 60px;
    display: inline-flex;
}
.gallery_logo{
    margin: 30px 30px;
}
.gallery_futer{
    margin: 60px 0px;
    text-align: center;
    .gallery_futer_description{
        margin: 15px 0px;
    }
}
.follow_us{
    background: url(../images/header_backgraund1.png);
    padding-top: 140px;
}
.follow_us_description{
    text-align: center;
}