// colors
$primary-color: #FF4B32;
$cd-color: #CDCDCD;
$white: white;
$dark-color: #292929;
$light-white: #E5E5E5;;
//  Fonts 
$arial: 'Arial', sans-serif;
$georgia: 'Georgia', sans-serif;
// $josefin-sans; 'josefin sans' sans-serif;
$open-sans: "open sans" , sans-serif;

